<div class="w-50"> 
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-row">
      <div class="form-group col">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name' %>
      </div>
      <div class="form-group col">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email eg. pablo@gmail.com', class: 'form-control' %>
      </div>
      <div class="form-group col">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone number' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

